*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #333;

    /* reglage scrollbar  */
    --bg-scrollbar: black;
    --color-scrollbar: #f1f1f1;


    /* reglage du widget meteo */
    --color-widgetMeteo: rgb(14, 20, 75);

}


















body {
    background-color: var(--bg-color);
    overflow-x: hidden;
    /* font-family: 'Playfair Display SC', serif; */
}


.section1 {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;

}

h1 {
    font-family: 'Carter One', cursive;
    /* font-family: 'Pacifico', cursive; */
    margin: 400px 100px;
    font-size: 2.5rem;
    color: #f1f1f1;
}

.left,
.right {
    height: 100%;
    padding: 10px;
}

.scrollMessage {
    position: absolute;
    left: -20px;
    bottom: 180px;
    transform: rotate(-90deg);
    font-size: 2rem;
    color: #f1f1f1;
}

.arrowdown {
    position: absolute;
    bottom: 10px;
    left: 45px;
    font-size: 2rem;
    width: 20px;

    display: block;
    color: white;
}

.arrowdown i i {
    position: absolute;
    top: -10px;
    left: 0;
}




h2 {

    font-family: 'Carter One', cursive;
    text-align: center;
    font-size: 2rem;
}

.meteoWidget {
    position: sticky;
    top: 10px;
    right: 10px;
    margin-left: auto;
    width: 100%;
    padding: 0 10px 10px;
    background-color: var(--color-widgetMeteo);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: white;
    text-align: center;
}

.icoDesciption {
    position: relative;
    width: 100%;
    height: 150px;
    display: grid;
    place-items: center;
    /* gap: 10px; */
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 4px 2px 10px black;
    border-radius: 5px;

}



img {
    width: 100px;
}

.descriptionWeather {
    font-style: oblique;
    text-transform: capitalize;
    position: absolute;
    text-align: center;
    margin-bottom: 5px;
    bottom: 0
}

.cityTemp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 5px;
}

form {
    display: grid;
}

input {
    width: 100%;
    margin: 5px 0;
    padding: 10px 5px;
    background-color: rgba(255, 252, 252, 0.658);
    border: none;
    text-align: center;
}




button {
    background-color: #f1f1f1;
    border-radius: 50px;
    margin: 10px auto;
    padding: 5px 30px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #c9c9c9;
}

.currentPosition {

    /* line-height: 50px; */
    display: block;
    width: 200px;
    margin: auto;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    /* border-radius: 5px; */
}

.currentPosition:hover {
    /* background-color: #00000093; */
    transform: scale(1.1);
}


.section2 {
    height: 2000px;
}

.bpi-container {
    /* max-width: 700px; */
    /* margin-left: 20px; */
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    margin: 20px;
    padding: 10px;
}


.contenairPicture {
    display: grid;
    gap: 20px;
    padding: 20px
}

.contenairPicture img {
    width: 500px;
    border-radius: 15px;
}

.contenairPicture img:nth-child(odd) {
    margin-left: auto;
}

















/*----Changement du style de la barre de defilement----*/
/* Fonctionne sur Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) var(--bg-scrollbar);
}

/* Fonctionne sur Chrome, Edge et Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-scrollbar);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 20px;
    border: 4px solid var(--bg-scrollbar);
}